.home-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

.search-input{
  padding: 15px;
  width: 50%;
}
.search-btn{
  padding: 15px 17px;
  background-color: brown;
  color: white;
  font-weight: 700;
}

.cart{
  border: 2px solid gray;
  box-shadow: 4px 4px 8px gray;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
}